.item {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.item:not(:last-child) {
  margin-bottom: 20px;
}
.btn {
  background-color: #f0f8ff;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Ibarra Real Nova', serif;
  font-size: 20px;
  border: none;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.btn:active {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: #191970;
  color: #fff;
}

.contactName {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 220px;
}
.contactNumber {
  margin-left: 20px;
}
.Loader {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
