.contactList {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
